/* Estilos generales para la aplicación */
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: #0f0;
}

/* Estilo para el contenedor principal de la aplicación */
.App {
  text-align: center;
  padding: 20px;
  color: #0f0; /* Verde fluorescente */
}

/* Estilos para el título del chatbot */
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #0f0; /* Verde fluorescente */
}

/* Estilo del contenedor del chatbot */
.chat-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Estilo para el registro de chat */
.chat-log {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
  color: #0f0; /* Verde fluorescente */
}

/* Estilo para los mensajes individuales del chat */
.chat-message {
  text-align: left;
  margin-bottom: 10px;
}

.chat-message p {
  margin: 0;
  padding: 10px;
  border-radius: 10px;
}

.user-message {
  background-color: #007BFF;
  color: white;
}

.bot-message {
  background-color: #444;
  color: #0f0; /* Verde fluorescente */
}

/* Estilo para el formulario de chat */
.chat-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-input {
  width: calc(100% - 50px);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #666;
  font-size: 1rem;
  background-color: #222;
  color: #0f0; /* Verde fluorescente */
}

.chat-send-button {
  background-color: #007BFF;
  border: none;
  border-radius: 50%;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-send-button:hover {
  background-color: #0056b3;
}
